@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reducir altura de las filas */
.table-sm td, .table-sm th {
    padding: 0.4rem 0.5rem;
}

/* Rayado gris suave */
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9 !important;
}

/* Mejorar alineación vertical */
.table td, .table th {
    vertical-align: middle;
}
#resultados li.active {
    background-color: #0d6efd;
    color: white;
}
.table-container {
    background-color: #f4f4f4;
    background-image: repeating-linear-gradient(
        45deg,
        #ddd,
        #ddd 1px,
        #f4f4f4 1px,
        #f4f4f4 10px
    );
}